{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block scripts %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=d44c7945-2d1c-407c-849f-666a20744ccc&lang=ru_RU&coordorder=longlat" type="text/javascript"></script>
    <script src="{% static 'js/yandex_maps.js' %}" type="text/javascript" ></script>
    {% endblock %}
    {% block style %}
    {% endblock %}

    <title>Document</title>
</head>
<body>
  {% block content %}
    <h1>New Memory</h1>
    <a href="{% url 'memories:memories' %}">Отмена</a>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-error">{{ form.place.errors }}</div>
      {{ form.as_p }}

        {{ image_formset.management_form }}
        {{ image_formset.non_form_errors }}

        {% for form in image_formset.forms %}
          {% for field in form %}
          <p>
            {% if field.label == "Image" or field.label == "Change" or field.label == "Delete" %}
            {{ field.label|capfirst }}: {{field}}
            {% else %}
            {{ field.as_hidden }}
            {% endif %}
          </p>

          {% endfor %}

        {% endfor %}
        <button>
          <a href="#">Добавить фото</a>
        </button>
        <div id="map" style="width: 600px; height: 400px"></div>
      <input type="submit" value="Save" />
    </form>
  {% endblock %}

</body>
</html>
