{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block scripts %}
    {% endblock %}
    {% block style %}
    <link rel="stylesheet" href="{% static 'styles/memory_delete.css' %}">
    {% endblock %}
    <title>{% block title %}Удаление {{ memory.name }}{% endblock %}</title>
</head>
<body>
    {% block content %}
    <div class="col-lg-6 offset-lg-3">
        <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
            <form method="post">{% csrf_token %}
                <h1 class="confirmation-title">Вы точно хотите удалить "{{ memory.name }}"?</h1>
                {{ form }}
                <div class="action-btns">
                    <input type="submit" value="Удалить" class="btn btn-danger">
                    <a class="btn btn-outline-light" href="{% url 'memories:memories' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>
